*.fpr
*/target/*
*~
*#
.#*
**/*.iml
*.iml
**/.idea
.idea
target/*
target
**/.classpath
**/.project
**/velocity.log*
.classpath
.project
.settings
**/.settings
**/.settings/*
.pydevproject
*.log
*.class
pom.xml.versionsBackup
release.properties
.mvn/maven.config
.mvn/java.config
**/nbactions.xml
**/.DS_Store
dependency-reduced-pom.xml
*.ipr
*.iws
.git/logs
out.html
