# Copyright (c) 2021, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

name: Build Admin Server VM artifact
on:
  repository_dispatch:
    types: [vms-admin-package]
  workflow_dispatch:
    inputs:
      pidType:
        description: 'Specify which pids to use, oracle or microsoft.'
        required: true
        default: 'microsoft'
      ref:
        description: 'Specify Git Ref if needed.'
        required: false
        default: 'refs/heads/main'
  # Sample cURL
  # curl --verbose -X POST https://api.github.com/repos/<github_user>/weblogic-azure/dispatches -H 'Accept: application/vnd.github.everest-preview+json' -H 'Authorization: token <personal_access_token>' --data '{"event_type": "vms-admin-package",  "client_payload": {"pidType": "microsoft", "ref": "refs/heads/main"}}'
env:
  refArmttk: 7dc2c2a7822c2825ea3524ac2af72e561847fece
  refJavaee: 062fe0eb4e72012ead98c23e1a1b2c6259e7e7c4
  offerName: "arm-oraclelinux-wls-admin"
  repoName: "weblogic-azure"
  repoOwner: ${{ secrets.USER_NAME }}

jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - name: Setup environment variables
        id: setup-env-variables-based-on-dispatch-event
        run: |
          ref='refs/heads/main'
          if [ ${{ github.event_name }} == 'workflow_dispatch' ]; then
            pidType=${{ github.event.inputs.pidType }}
            ref=${{ github.event.inputs.ref }}
          else
            pidType=${{ github.event.client_payload.pidType }}
            ref=${{ github.event.client_payload.ref }}
          fi
          echo "##[set-output name=pidType;]${pidType}"
          echo "##[set-output name=ref;]${ref}"
          echo "pidType=${pidType}" >> $GITHUB_ENV
          echo "ref=${ref}" >> $GITHUB_ENV
      - name: Checkout azure-javaee-iaas
        uses: actions/checkout@v2
        with:
          repository: Azure/azure-javaee-iaas
          path: azure-javaee-iaas
          ref: ${{ env.refJavaee }}
      - name: Checkout arm-ttk
        uses: actions/checkout@v2
        with:
          repository: Azure/arm-ttk
          path: arm-ttk
          ref: ${{ env.refArmttk }}
      - name: Checkout ${{ env.repoName }}
        uses: actions/checkout@v2
        with:
          path: ${{ env.repoName }}
          ref: ${{ env.ref }}
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build azure-javaee-iaas
        run: mvn -DskipTests clean install --file azure-javaee-iaas/pom.xml
      - name: Update utilities path location
        run:  |
           cd ${{env.repoName}}/weblogic-azure-vm/${{ env.offerName }}
           find . -name "*.json" | xargs sed -i 's|../../../../utilities|../utilities|g' $1
      - name: Build and test ${{ env.offerName }} using ${{ env.pidType }} pids
        run: |
          cd ${{env.repoName}}/weblogic-azure-vm/${{ env.offerName }}
          pidType=${{ env.pidType }}
          if [[ "${pidType}" == "oracle" ]];then
            echo "using oracle pid"
            mvn -Ptemplate-validation-tests clean install -Dgit.repo.owner=${{ env.repoOwner }} -Dgit.tag=${{ env.ref }}
          else
            echo "using ms pid"
            mvn -Ptemplate-validation-tests clean install -Ddev -Dgit.repo.owner=${{ env.repoOwner }} -Dgit.tag=${{ env.ref }}
          fi

      - name: Generate artifact file name and path
        id: artifact_file
        run: |
          cd ${{env.repoName}}/weblogic-azure-vm/${{ env.offerName }}
          version=$(awk '/<version>[^<]+<\/version>/{gsub(/<version>|<\/version>/,"",$1);print $1;exit;}' pom.xml)
          artifactName=${{ env.offerName }}-$version-arm-assembly
          unzip target/$artifactName.zip -d target/$artifactName
          echo "##[set-output name=artifactName;]${artifactName}-${{ env.pidType }}"
          echo "##[set-output name=artifactPath;]${{env.repoName}}/weblogic-azure-vm/${{ env.offerName }}/target/$artifactName"
      - name: Archive ${{ env.offerName }} template
        uses: actions/upload-artifact@v1
        if: success()
        with:
          name: ${{steps.artifact_file.outputs.artifactName}}
          path: ${{steps.artifact_file.outputs.artifactPath}}

